/* .colorcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: ; */
.desktop{
    width: 60%;
}
.desk{
    width: 40%;
}
.car{
  /* {paddingRight:"0.001rem" */
    padding-right: 0.001rem;
}
.colorcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 18rem;
  /* margin-right: 18rem; */
  /* padding: ; */
}
.Mains {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.colorcard1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 18rem;
  /* margin-right: 18rem; */
}
.colorcard2 {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  margin-left: 18rem;
  /* margin-right: 18rem; */
}
.colorcard3 {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  margin-left: 10rem;
  /* margin-right: 18rem; */
}
.desk1{
  margin-top: 4.5rem;
}
@media (max-width: 600px) and (min-width: 320px) {
  .Mains{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .desktop{
    width: 100%;
  }
  .desk{
    width: 100%;
  }
  .colorcard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .colorcard1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .colorcard2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .colorcard3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .desk1{
    margin-top: 0;
  }
}
@media (max-width: 1024px) and (min-width: 600px) {
  .Mains{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .car{
    padding-right: 2%;
  }
  .desktop{
    width: 100%;
  }
  .desk1{
    margin-top: 0;
  }
  .desk{
    width: 100%;
  }
  .colorcard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
    /* padding: ; */
  }
  .colorcard1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .colorcard2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
    width: 88vw;
  }
  .colorcard3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
    width: 88vw;
  }
}
